/* Basic styles for larger screens */
body {
    margin: 0;
    padding: 0;
    background: url('image3.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

main {
    padding: 20px;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 15px;
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px 0;
    color: #333;
}

